<div class="table-responsive my-4">
    <table class="table-hover align-middle border">
        <thead>
            <tr>
                <th class="text-center" style="width: 10%;">#</th>
                <th class="text-center" style="width: 25%;">Name</th>
                <th>Description</th>
                <th class="text-center" style="width: 15%;">Link</th>
            </tr>
        </thead>
        <tbody>
            {{ $sortable := slice }}
            {{ range .Page.Sections }}
                {{ $n := findRE "^[0-9]+" .File.Dir }}
                {{ $s := cond (gt (len $n) 0) (printf "%05d" (int (index $n 0))) "99999" }}
                {{ $sortable = $sortable | append (dict "p" . "s" $s) }}
            {{ end }}

            {{ range sort $sortable "s" "asc" }}
                {{ with .p }}
                {{ $chapRaw := path.Base .File.Dir }}
                {{ $chapNum := $chapRaw | replaceRE "^([0-9]+).*" "$1" }}
                {{ $chapTitle := $chapRaw | replaceRE "^[0-9]+-?" "" | replaceRE "-" " " | title }}
                <tr>
                    <td class="text-center fw-bold">{{ $chapNum }}</td>
                    <td class="text-center"><strong>{{ .Title | default $chapTitle }}</strong></td>
                    <td>{{ .Description | default "No description provided." }}</td>
                    <td class="text-center"><a href="{{ .RelPermalink }}" class="btn btn-sm btn-outline-primary">View Chapter</a></td>
                </tr>
                {{ end }}
            {{ end }}
        </tbody>
    </table>
</div>